
@model IEnumerable<VeterinariaWebApp.Models.Usuario.Veterinario.Veterinario>

@{
    ViewData["Title"] = "Listado de Veterinarios";
    Layout = "~/Views/Shared/_LayoutRecepcionista.cshtml";
}

<h1>Veterinarios</h1>
<hr>

<p>
    <a asp-action="listarVeterinariosPDF" class="btn btn-danger px-4">
        <i class="fas fa-file-pdf me-2"></i> Exportar PDF
    </a>
</p>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Veterinarios Registrados</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.IdVeterinario)</th>
                        <th>@Html.DisplayNameFor(model => model.sueldo)</th>
                        <th>@Html.DisplayNameFor(model => model.especialidad)</th>
                        <th>@Html.DisplayNameFor(model => model.NombreUsuario)</th>
                        <th>@Html.DisplayNameFor(model => model.ApellidoUsuario)</th>
                        <th>@Html.DisplayNameFor(model => model.FechaNacimiento)</th>
                        <th>@Html.DisplayNameFor(model => model.TipoDocumento)</th>
                        <th>@Html.DisplayNameFor(model => model.NumeroDocumento)</th>
                        <th>@Html.DisplayNameFor(model => model.Rol)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.IdVeterinario)</td>
                            <td>@Html.DisplayFor(modelItem => item.sueldo)</td>
                            <td>@Html.DisplayFor(modelItem => item.especialidad)</td>
                            <td>@Html.DisplayFor(modelItem => item.NombreUsuario)</td>
                            <td>@Html.DisplayFor(modelItem => item.ApellidoUsuario)</td>
                            <td>@Html.DisplayFor(modelItem => item.FechaNacimiento)</td>
                            <td>@Html.DisplayFor(modelItem => item.TipoDocumento)</td>
                            <td>@Html.DisplayFor(modelItem => item.NumeroDocumento)</td>
                            <td>@Html.DisplayFor(modelItem => item.Rol)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>